.gitignore
*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/alqo
src/alqod
src/alqo-cli
src/alqo-tx
src/test/test_alqo
src/qt/test/test_alqo-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
confdefs.h
conftest.cpp
conftest.err
libtool
src/config/alqo-config.h
src/config/alqo-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist
contrib/devtools/split-debug.sh

src/univalue/gen

src/qt/*.moc
src/qt/alqo/*.moc
src/qt/moc_*.cpp
src/qt/alqo/moc_*.cpp
src/qt/alqo/settings/moc_*.cpp
src/qt/forms/ui_*.h
src/qt/alqo/settings/forms/ui_*.h
src/qt/alqo/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
.alqo
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
alqo-qt
ALQO-Qt.app
background.tiff*

# Unit-tests
Makefile.test
alqo-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_alqo.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*
qa/pull-tester/run-alqod-for-test.sh
qa/pull-tester/tests-config.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
cache/*

!src/leveldb*/Makefile

.cproject
.project
/doc/doxygen/
/nbproject/
libalqoconsensus.pc
.idea
CMakeLists.txt
cmake-build-debug
src/qt/settings/forms/ui_*.h
src/qt/settings/moc_*.cpp
alqo-qt.pro
